* {
  box-sizing: border-box;
  border: 1px solid red;
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 0 20px;
}

.header img {
  width: 150px;
}

.footer {
  font-size: 20px;
  color: white;
}

body {
  background-image: url(background2.jpg);
  background-size: cover;
  min-height: 100vh;
}

.right-links {
  display: flex;
  gap: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.body-1,
.body-2,
.body-3,
.body-4 {
  background-color: rgba(154, 190, 124, 0.26);
}

.body-1 {
  display: flex;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 60vh;
  background-color: rgba(0, 0, 0, 0.733);
  color: white;
  border-radius: 25px;
  border: 1px dashed red;
  margin-bottom: 4rem;
  width: 75%;
  align-self: center;
}

.body-1 .x {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  flex: 1;
}

.body-1 .welcome {
  /* font-size: 58px; */
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.body-1 .blurb {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.body-1 img {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 400px;
  min-width: 250px;
  flex: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
}
